body {
  display: flex;
  height: 100vh;
}
aside {
  background-color: var(--darkgrey);
  padding: 1rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 2rem;
  height: 2rem;
}

#profile-icon {
  background-color: vaR(--yellowBG);
  border-radius: 10rem;
  margin-bottom: 0cap;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 5px;
}
header div {
  display: flex;
  align-items: center;
}

main {
  margin: 1rem 3rem;
  position: relative;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

time {
  margin: 0 10px;
  margin-top: 5px;
}

#add-button {
  background-color: var(--darkgrey);
  color: #ffffff;
  margin: 10px;
}

#add-button:hover {
  background-color: var(--yellowBG);
  color: var(--darkgrey);
}
#tasklists-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5vh 5vw;
}
.list {
  padding: 0.1rem 1.5rem;
  border-radius: 10px;
  width: 300px;
  height: 75vh;
}
#todo-list {
  background-color: var(--yellowBG);
}
#inprogress-list {
  background-color: var(--greenBG);
}
#completed-list {
  background-color: var(--pinkBG);
}

article {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2% 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
p {
  margin: 0;
}

.task-name {
  font-weight: bold;
}

/*add task popup */

#addtask-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darkgrey);
  width: 400px;
  height: 450px;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

#addtask-popup img {
  width: 150px;
  height: 150px;
  margin-bottom: 0;
}

#addtask-popup h1 {
  color: var(--yellowBG);
  margin-top: 0;
}

#addtask-popup input {
  display: block;
  margin: 20px auto;
  width: 70%;
  padding: 10px;
  text-align: center;
}

#newtask-add {
  margin-top: 20px;
  width: 75%;
  background-color: var(--yellowBG);
  font-weight: bold;
}

#newtask-add:hover {
  color: var(--darkgrey);
  background-color: #ffffff;
}

#close-popup {
  text-align: left;
  color: white;
  padding: 0 0.6rem;
  cursor: pointer;
  font-size: 1.5rem;
}

#todo-list h1 {
  color: var(--yellowText);
}

#inprogress-list h1 {
  color: var(--greenText);
}

#completed-list h1 {
  color: var(--pinkText);
}
